<div class = "row">
  <div id="<%= edit_object.id %>edit" class="panel-collapse collapse" role="tabpanel">
    <div class="panel-body">
      <%= simple_form_for edit_object do |f| %>  <!--add :remote => true to have it update without refreshing page-->
        <div class="row">
          <div class="col-xs-5">
            <div class="input-group">
              <%= f.text_field :name, class: "form-control" %>
              <span class="input-group-addon">
                <%= f.input :duedate, as: :bootstrap_datepicker%>
              </span>
              <span class="input-group-addon">
                <%= f.submit %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>