<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="col-xs-3">
    <div class="input-group">
      <span class="input-group-addon">
        <%= f.check_box :status %>
      </span>
      <%= f.text_field :name, class: "form-control" %>
      <span class="input-group-addon">
        <%= f.submit %>
      </span>
    </div>
  </div>
</div>
    
<% end %>
